@model int

<form asp-controller="Tickets" asp-action="Create" method="post">
    <input type="hidden" name="pacienteId" value="@Model" />
    <button type="submit" class="btn btn-primary">Generar Ticket</button>
</form>
